html {
        scroll-behavior: smooth
        position: relative;
        top: 0;
        left: 0;
        max-width: 100vw;
        min-height: 200vh;
        margin: 0px;
        padding: 0px;
        border: 0px;
        scroll-behavior: smooth;
        font-size: 62.5%;
      
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans';
    font-weight: 400;
}

p {
    padding: 2rem 0;
    line-height: 2rem;
}

.wrapper {
    column-count: 2;
    column-gap: 50px;
    padding: 50px;
  }

h1, h2, h3, h4, h5, h6, {
    font-family: 'Londrina Solid';
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.divide {
    max-width: 100%;
}

.divide2 {
    max-width: 100%;
}

.bold {
    font-weight: 600;
}

.bottomDiv {
    background-color: #3e78d3;
}